<!--<h1>Create a Team and Heroes</h1>-->

<!--<form action= "/team" method="POST">-->
<!--  <label for="team_name">Team Name</label>-->
<!--  <input id="team_name" type="text" team_name="[team_name]"/>-->
<!--  <label for="team_motto">motto</label>-->
<!--  <input id="team_motto" type="text" motto="[team_motto]"/>-->
  
<!--  <h1> Hero 1</h1>-->
<!--  <label for="hero_name"> Hero's Name</label>-->
<!--  <input id="hero_name" type="text" hero_name="[hero_name]"/>-->
<!--   <label for="hero_power"> Hero's Power</label>-->
<!--  <input id="hero_power" type="text" hero_power="[hero_power]"/>-->
<!--   <label for="hero_bio"> Hero's Biography</label>-->
<!--  <input id="hero_bio" type="text" hero_bio="[hero_bio]"/>-->
  
<!--   <h1> Hero 2</h1>-->
<!--  <label for="hero_name"> Hero's Name</label>-->
<!--  <input id="hero_name" type="text" hero_name="[hero_name]"/>-->
<!--   <label for="hero_power"> Hero's Power</label>-->
<!--  <input id="hero_power" type="text" hero_power="[hero_power]"/>-->
<!--   <label for="hero_bio"> Hero's Biography</label>-->
<!--  <input id="hero_bio" type="text" hero_bio="[hero_power]"/>-->
  
<!--  <h1> Hero 3</h1>-->
<!--  <label for="hero_name"> Hero's Name</label>-->
<!--  <input id="hero_name" type="text" hero_name="[hero_name]"/>-->
<!--   <label for="hero_power"> Hero's Power</label>-->
<!--  <input id="hero_power" type="text" hero_power="[hero_power]"/>-->
<!--   <label for="hero_bio"> Hero's Biography</label>-->
<!--  <input id="hero_bio" type="text" hero_bio="[hero_power]"/>-->
<!--    <input type="submit" value="Submit">-->
  
<!--</form>-->
